.recepient-info {
    font-size: 17px !important;
}

.signature {
    width: 180px;
    height: 50px;
}

.red {
    color: red;
}

.invoice-info {
    height: 60px;
    line-height: 60px;
}

p {
    color: #212529;
}